body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #363636;
}

section {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
}

canvas#backgroundCanvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

section div#serverList {
    position: absolute;
    overflow: scroll;
    transform: translateX(-50%) translateY(50%);
    left: 50%;
    bottom: 54%;
    background-color: rgba(0, 0, 0, 0.786);
    border: solid black 2px;
    border-radius: 10px;
    width: 50%;
    height: 70%;
}

body#dark section div#serverList {
    background-color: rgba(0, 0, 0, 0.686);
}

section div#serverList div#server {
    background-color: rgba(136, 136, 136, 0.337);
    border: solid black 2px;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;
    margin: 5px 0 0 5px;
    transition: all 1s;
    transform: translateX(0);
    animation: serverButton 0.3s ease;
}

section div#serverList div#server:hover {
    background-color: rgba(145, 145, 145, 0.537);
}

section div#serverList div#server p {    
    position: absolute;
}

section div#serverList div#server p#Name {
    left: 15px;
    line-height: 0;
}

section div#serverList div#server p#GameType {
    left: 15px;
    bottom: 0;
    line-height: 0;
    color: rgb(173, 226, 255);
}

section div#serverList div#server p#PlayerCount {
    line-height: 0;
    bottom: 0;
    right: 15px;
}

section div#serverList div#server p#GameSize {
    line-height: 0;
    top: 0;
    right: 15px;
}

section div#serverList div#server p#Time {
    right: 90px;
}

section div#buttons {
    position: absolute;    
    transform: translateX(-50%) translateY(50%);
    left: 50%;
    bottom: 15%;
    width: 50%;
    height: 40px;
}

button#reloadButton {
    position: absolute;
    right: 2px;
    width: 40px;
    height: 40px;
    color: white;
    background: rgba(0, 0, 0, 0.786) url(/images/reload.png) no-repeat center 0px / 100%;
    border: solid black 2px;
    border-radius: 5px;
    transition: all 0.5s;
}

body#dark button#reloadButton {
    background-color: rgba(0, 0, 0, 0.686);
}

button#serverCreationWindowButton {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 50%;
    height: 40px;
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.786);
    border: solid black 2px;
    border-radius: 5px;
    transition: all 0.5s;
}

body#dark button#serverCreationWindowButton {
    background-color: rgba(0, 0, 0, 0.686);
}

button#returnButton {
    position: absolute;
    left: 2px;
    width: 40px;
    height: 40px;
    color: white;
    background: rgba(0, 0, 0, 0.786) url(/images/Arrows/white/leftArrow.png) no-repeat center 0px / 100%;
    border: solid black 2px;
    border-radius: 5px;
    transition: all 0.5s;
}

body#dark button#returnButton {
    background-color: rgba(0, 0, 0, 0.686);
}

section button#returnButton:hover,
section div#buttons button#reloadButton:hover,
section div#buttons button#serverCreationWindowButton:hover {
    background-color: rgba(36, 36, 36, 0.658);
}

div#ownerName {
    position: absolute;
    bottom: 8px;
    right: 10px;
    color: black;
}

body#dark div#ownerName {
    color: #CCC;
}

/* janela de criação de servidor */

section div#serverCreationWindow {
    display: none;
    position: absolute;
    overflow: scroll;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 46%;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    border-radius: 10px;
    width: 50%;
    height: 70%;
    animation: verticalMenuSlide 0.2s ease-out;
}

section div#serverCreationWindow input.serverCreationWindow-inputs {
    background-color: rgb(197, 197, 197);
    border: none;
    border-radius: 5px;
    padding: 3px;
    width: 36px;
}

section div#serverCreationWindow input.serverCreationWindow-inputs.Name {
    width: 100px;
}

section div#serverCreationWindow button#createButton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 30px;
    color: white;
    background-color: rgb(49, 49, 49);
    border: solid black 2px;
    border-radius: 5px;
    transition: all 0.5s;
}

section div#serverCreationWindow button#createButton:hover {
    background-color: rgb(67, 67, 67);
}

.serverCreationWindowMarginTop {
    margin-top: 40px;
}