@keyframes toggleRotation {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(1deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(-1deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes verticalMenuSlide {
    from {
        transform: translateX(-50%) translateY(-100%);
    }
    to {
        transform: translateX(-50%) translateY(-50%);
    }
}