body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: bottom;
    background-color: #CCC;
}

#screen {
    border: 10px solid #696969;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 500px;
    height: 500px;
    display: none;
}

#message-box {
    outline: none;
    text-decoration: none;
    border: none;
    border-top: 1px solid #696969;
    position: absolute;
    height: 19px;
    width: 82%;
    bottom: 0;
}
#send-button {
    margin-left: 82%;
    position: absolute;
    bottom: 0px;
    border: 1px solid #696969;
    background: rgb(0, 185, 252) url(../public/images/send-button.png) no-repeat center 0px / 100%;
    width: 40px;
    height: 22px;
    transition: background-color 0.5s;
}
#send-button:hover {
    background-color: rgb(0, 147, 201);
}

#chat {
    font-size: 11px;
    text-align: left;
    position: relative;
    border: 10px solid #696969;
    overflow: hidden;
    width: 200px;
    height: 500px;
    word-wrap: break-word; 
    display: inline-block;
}

#chat-content {
    font-family: 'Arial Black', Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 25px;
}

button {
    outline: none;
    background-color: rgba(0, 0, 0, 0.200);
}

#arrow-left {
    margin: 0px 15px 0px 0px; 
    background: url(../public/images/left.png) no-repeat center 0px / 100%;
}

#arrow-right {
    margin: 0px 0px 0px 15px; 
    background: url(../public/images/right.png) no-repeat center 0px / 100%;
}

#arrow-up {
    margin: 5px 0px 0px 0px;
    background: url(../public/images/up.png) no-repeat center 0px / 100%;
}

#arrow-down {
    margin: 0; 
    background: url(../public/images/down.png) no-repeat center 0px / 100%;
}

.arrows-buttons {
    display: none;
    vertical-align: middle;
    width: 50px; 
    height: 50px
}

#chat-button {
    display: none;
    margin: 7px;
    width: 50px; 
    height: 50px;
    float: left;
    background: url(../public/images/chat.png) no-repeat center 0px / 100%;
}

#pingDisplay {
    display: none;
    float: right;
}

#timer {
    display: none;
    text-align: center;
}

#scoreTable {
    font-size: 13px;
    text-align: center;
    position: relative;
    border: 10px solid #696969;
    overflow: auto;
    width: 200px;
    height: 500px;
    display: inline-block;
}
#p1 {
    border-top: 5px solid #ffa600;
    border-bottom: 5px solid #ffa600;;
    display: block;
    background-color: #ffa600;
    height: 15px;
    width: 100%;
}
#p2 {
    display: block;
    background-color: gray;
    height: 15px;
    width: 100%;
}
#p3 {
    display: block;
    background-color: #cd7f32;
    height: 15px;
    width: 100%;
}

@media screen and (max-width:570px) {
    #pingDisplay {
        float: right
    }
    #screen {
        width: 90%;
        height: 90%;
    }
    #scoreTable {
        width: 90%;
        height: 90%;
    }
    #chat {
        display: none;
        width: 90%;
    }
    #send-button {
        margin-left: 86%
    }
    #message-box {
        width: 85%;
    }
    #chat-button {
        display: inline-block;
    }
    .arrows-buttons {
        display: inline-block;
    }
}