body {
    text-align: center;
}

#screen {
    border: 20px solid rgb(121, 121, 121);
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 500px;
    height: 500px;
    display: none;
}
body {
    background-color: #CCC;
}