body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #CCC;
}

header {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Textos informativos */

header div#timer {
    display: none;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
}

header div#pingDisplay {
    display: none;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    padding: 2px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

header div#fpsDisplay {
    display: none;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    padding: 2px;
    position: absolute;
    right: 5px;
    bottom: 35px;
}

header div#playerScore {
    display: none;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    padding: 2px;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

/* Tabela de colocação */

header table#scoreTable {
    position: fixed;
    right: 10px;
    top: 5px;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    width: 200px;
    table-layout: fixed;
    border-collapse: collapse;
    animation: openScoreTable 0.2s ease forwards;
}

header button#scoreTable-button {
    display: none;
    position: fixed;
    right: 0;
    top: 5px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    width: 10px;
    height: 50px;
    transition: all 0.5s;
}

header button#scoreTable-button:hover {
    background-color: rgba(36, 36, 36, 0.658);
}

header table#scoreTable th#Name {
    color: rgb(243, 243, 243);
    border-bottom: solid black 1px;
    padding: 5px;
    text-align: left;
}

header table#scoreTable th#Score {
    color: rgb(255, 196, 48);
    border-bottom: solid black 1px;
    padding: 5px;
    width: 28px;
    text-align: right;   
}

/* Chat */

header button#chat-button {
    cursor: pointer;
    border: solid black 1px;
    border-radius: 5px;
    margin: 5px;
    width: 40px; 
    height: 40px;
    float: left;
    background: rgb(242, 242, 242) url(/images/chat.png) no-repeat center 0px / 100%;
    transition: all 0.5s;
}

header div#unreadMessageCounter {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    left: 33px;
    top: 0px;
    width: 18px; 
    height: 18px;
    color: black;
    background-color: rgb(242, 242, 242);
    border-radius: 100%;
    border: solid black 1px;
}

header div#chat {
    z-index: 1;
    display: none;
    position: relative;
    float: left;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    width: 250px;
    height: 60vh;
    animation: openChat 0.2s ease forwards;
}

header div#chat div#chat-content {
    display: flex;
    word-wrap: break-word;
    overflow: hidden;
    justify-content: flex-end;
    text-align: left;
    flex-direction: column;
    width: 100%;
    height: 91%;
}

header div#chat div#chat-content a#Message {
    margin-bottom: 10px;
}

header div#chat input#message-box {
    outline: none;
    text-decoration: none;
    border: none;
    position: absolute;
    height: 28px;
    width: 78%;
    bottom: 0;
    left: 0;
}

header div#chat button#send-button {
    cursor: pointer;
    background: rgb(0, 185, 252) url(/images/send-button.png) no-repeat center 0px / 100%;
    border: none;
    position: absolute;
    width: 20%;
    height: 30px;
    bottom: 0;
    right: 0;
    transition: all 0.5s;
}

header div#chat button#send-button:hover {
    background-color: rgb(0, 166, 226);
}

/* Setas de seleção de players a espectar */

header div#playerViewSelection {
    display: none;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    color: rgb(242, 242, 242);
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 30vh;
}

header div#playerViewSelection button.observedPlayerSelectionArrows {
    border: solid black 2px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

header div#playerViewSelection button.observedPlayerSelectionArrows.left {
    background: rgb(242, 242, 242) url(/images/Arrows/leftArrow.png) no-repeat center 0px / 100%;
    float: left;
    margin-left: 35%;
}

header div#playerViewSelection button.observedPlayerSelectionArrows.right {
    background: rgb(242, 242, 242) url(/images/Arrows/rightArrow.png) no-repeat center 0px / 100%;
    float: right;
    margin-right: 35%;
}

header div#playerViewSelection p#scoreOfSelectedPlayer {
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    border-top: none;
    width: 100px;
    margin: 20px auto;
}

/* joystick */

header div#joystickContent {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 128px;
    height: 128px;
    border: solid black 2px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.658);
}

header div#joystickContent div#joystick {
    position: absolute;
    left: 32px;
    top: 32px;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 100%;
}

/* Mimi mapa */

header canvas#miniMap {
    display: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    position: fixed;
    transform: translateY(50%);
    left: 10px;
    bottom: 50%;
    border: solid black 2px;
    width: 130px;
    height: 130px;
}

/* Canvas/Jogo */

section canvas#screen {
    display: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
}
/*
#message-box {
    outline: none;
    text-decoration: none;
    border: none;
    border-top: 1px solid #696969;
    position: absolute;
    height: 19px;
    width: 82%;
    bottom: 0;
}
#send-button {
    margin-left: 82%;
    position: absolute;
    bottom: 0px;
    border: 1px solid #696969;
    background: rgb(0, 185, 252) url(../public/images/send-button.png) no-repeat center 0px / 100%;
    width: 40px;
    height: 22px;
    transition: background-color 0.5s;
}
#send-button:hover {
    background-color: rgb(0, 147, 201);
}

#chat {
    font-size: 11px;
    text-align: left;
    position: relative;
    border: 10px solid #696969;
    overflow: hidden;
    width: 200px;
    height: 500px;
    word-wrap: break-word; 
    display: inline-block;
}

#chat-content {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    width: 95%;
    height: 93%;
    border: 5px solid rgba(0, 0, 0, 0);
}

button {
    outline: none;
}

#arrow-left {
    margin: 0px 15px 0px 0px; 
    background: rgba(0, 0, 0, 0.200) url(../public/images/left.png) no-repeat center 0px / 100%;
}

#arrow-right {
    margin: 0px 0px 0px 15px; 
    background: rgba(0, 0, 0, 0.200) url(../public/images/right.png) no-repeat center 0px / 100%;
}

#arrow-up {
    margin: 5px 0px 0px 0px;
    background: rgba(0, 0, 0, 0.200) url(../public/images/up.png) no-repeat center 0px / 100%;
}

#arrow-down {
    margin: 0; 
    background: rgba(0, 0, 0, 0.200) url(../public/images/down.png) no-repeat center 0px / 100%;
}

.arrows-buttons {
    display: none;
    vertical-align: middle;
    width: 50px; 
    height: 50px
}

#music-button {
    background-color: rgba(0, 0, 0, 0.200);
}

#chat-button {
    display: none;
    margin: 7px;
    width: 50px; 
    height: 50px;
    float: left;
    background: rgba(0, 0, 0, 0.200) url(../public/images/chat.png) no-repeat center 0px / 100%;
}

#pingDisplay {
    display: none;
    float: right;
}

#timer {
    display: none;
    text-align: center;
}

#scoreTable {
    font-size: 13px;
    text-align: center;
    position: relative;
    border: 10px solid #696969;
    overflow: auto;
    width: 200px;
    height: 500px;
    display: inline-block;
}
#p1 {
    border-top: 5px solid #ffa600;
    border-bottom: 5px solid #ffa600;;
    display: block;
    background-color: #ffa600;
    height: 15px;
    width: 100%;
}
#p2 {
    display: block;
    background-color: gray;
    height: 15px;
    width: 100%;
}
#p3 {
    display: block;
    background-color: #cd7f32;
    height: 15px;
    width: 100%;
}

@media screen and (max-width:570px) {
    #pingDisplay {
        float: right
    }
    #screen {
        width: 90%;
        height: 90%;
    }
    #scoreTable {
        width: 90%;
        height: 90%;
    }
    #chat {
        display: none;
        width: 90%;
    }
    #send-button {
        margin-left: 86%
    }
    #message-box {
        width: 85%;
    }
    #chat-button {
        display: inline-block;
    }
    .arrows-buttons {
        display: inline-block;
    }
}*/