body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #363636;
}

header {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Textos informativos */

header div#timer {
    display: none;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
}

header div#pingDisplay {
    display: none;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    padding: 2px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

header div#fpsDisplay {
    display: none;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    padding: 2px;
    position: absolute;
    right: 5px;
    bottom: 30px;
}

header div#fruitCounter {
    display: none;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    padding: 2px;
    position: absolute;
    right: 5px;
    bottom: 55px;
}

header div#playerScore {
    display: none;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    padding: 2px;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

/* Tabela de colocação */

header table#scoreTable {
    position: fixed;
    right: 10px;
    top: 5px;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    width: 200px;
    table-layout: fixed;
    border-collapse: collapse;
    animation: openScoreTable 0.2s ease forwards;
}

header button#scoreTable-button {
    display: none;
    position: fixed;
    right: 0;
    top: 5px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    width: 10px;
    height: 50px;
    transition: all 0.5s;
}

header button#scoreTable-button:hover {
    background-color: rgba(36, 36, 36, 0.658);
}

header table#scoreTable th#Name {
    color: rgb(243, 243, 243);
    border-bottom: solid black 1px;
    padding: 5px;
    text-align: left;
}

header table#scoreTable th#Score {
    color: rgb(255, 196, 48);
    border-bottom: solid black 1px;
    padding: 5px;
    width: 28px;
    text-align: right;   
}

/* Chat */

header button#chat-button {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    border: solid black 2px;
    border-radius: 5px;
    width: 40px; 
    height: 40px;
    background: rgba(0, 0, 0, 0.658) url(/images/chat.png) no-repeat center 0px / 100%;
    transition: all 0.5s;
}

header div#unreadMessageCounter {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    left: 33px;
    top: 0px;
    width: 18px; 
    height: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 100%;
    border: solid black 1px;
}

header div#chat {
    display: none;
    position: absolute;
    left: 50px;    
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    width: 250px;
    height: 60vh;
    animation: openChat 0.2s ease forwards;
}

header div#chat div#chat-content {
    display: flex;
    word-wrap: break-word;
    overflow: hidden;
    justify-content: flex-end;
    text-align: left;
    flex-direction: column;
    width: 100%;
    height: 91%;
}

header div#chat div#chat-content a#Message {
    margin-bottom: 10px;
}

header div#chat input#message-box {
    outline: none;
    text-decoration: none;
    border: none;
    position: absolute;
    height: 28px;
    width: 78%;
    bottom: 0;
    left: 0;
}

header div#chat button#send-button {
    cursor: pointer;
    background: rgb(0, 185, 252) url(/images/send-button.png) no-repeat center 0px / 100%;
    border: none;
    position: absolute;
    width: 20%;
    height: 30px;
    bottom: 0;
    right: 0;
    transition: all 0.5s;
}

header div#chat button#send-button:hover {
    background-color: rgb(0, 166, 226);
}

/* Setas de seleção de players a espectar */

header div#playerViewSelection {
    display: none;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    color: rgb(242, 242, 242);
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 30vh;
}

header div#playerViewSelection button.observedPlayerSelectionArrows {
    border: solid black 2px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

header div#playerViewSelection button.observedPlayerSelectionArrows.left {
    background: rgb(242, 242, 242) url(/images/Arrows/leftArrow.png) no-repeat center 0px / 100%;
    float: left;
    margin-left: 35%;
}

header div#playerViewSelection button.observedPlayerSelectionArrows.right {
    background: rgb(242, 242, 242) url(/images/Arrows/rightArrow.png) no-repeat center 0px / 100%;
    float: right;
    margin-right: 35%;
}

header div#playerViewSelection p#scoreOfSelectedPlayer {
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    border-top: none;
    width: 100px;
    margin: 20px auto;
}

/* joystick */

header div#joystickContent {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 128px;
    height: 128px;
    border: solid black 2px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.658);
}

header div#joystickContent div#joystick {
    position: absolute;
    left: 32px;
    top: 32px;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 100%;
}

/* Mimi mapa */

header canvas#miniMap {
    display: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    position: fixed;
    transform: translateY(50%);
    left: 10px;
    bottom: 50%;
    background-color: #CCC;
    border: solid black 2px;
    width: 130px;
    height: 130px;
}

body#dark header canvas#miniMap {
    background-color: #363636;
}

/* Canvas/Jogo */

section canvas#screen {
    display: none;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
}

/* Botões do adm */

header button#startButton {
    display: none;
    position: fixed;
    transform: translateY(50%);
    right: 10px;
    bottom: 50%;
    height: 30px;    
    background-color: rgba(255, 0, 0, 1);
    color: white;
    border: solid black 2px;
    border-radius: 5px;
    transition: all 0.5s;
}

header button#startButton:hover {
    background-color: rgba(150, 0, 0, 1);
}

/* Tela final */

header div#finalScreen {
    display: none;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    top: 50%;
    height: 200px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.658);
    border: solid black 2px;
    border-radius: 10px;
    line-height: 23px;
}

header div#finalScreen h1 {
    font-size: 50px;
    transform: translateY(-150%);
    color: black;
}

header div#finalScreen p {
    font-size: 20px;
}

header div#finalScreen button {
    position: absolute;
    height: 30px;
    top: 5px;
    right: 5px;
    color: white;
    background-color: rgba(44, 44, 44, 0.686);
    border: solid black 2px;
    border-radius: 5px;
    transition: all 0.5s;
}

header div#finalScreen button:hover {
    background-color: rgba(84, 84, 84, 0.686);
}
