@media screen and (max-width:597px) {
    header button#chat-button,
    header div#unreadMessageCounter {
        display: none;
    }

    header div#timer {
        left: 5px;
    }

    header div#playerViewSelection button.observedPlayerSelectionArrows.left,
    header div#playerViewSelection button.observedPlayerSelectionArrows.right {
        margin: 0;
    }
}