@media screen and (max-width:600px) {
    header canvas#miniMap {
        transform: translateY(0);
        top: 5px;
        width: 100px;
        height: 100px;
    }

    header button#chat-button,
    header div#unreadMessageCounter {
        display: none;
    }

    header div#playerViewSelection button.observedPlayerSelectionArrows.left {
        left: 0;
    }
    header div#playerViewSelection button.observedPlayerSelectionArrows.right {        
        right: 0;
    }

    header table#scoreTable {
        width: 140px;
        font-size: 10px;
    }

    header table#scoreTable th#Score {
        width: 20px;
    }
    
    header button#scoreTable-button {
        width: 10px;
        height: 50px;
    }
    header div#finalScreen {
        width: 90%;
    }
}